Body {
  background-color: #dbdbdb;
}


.Top-container{
  background-color: #696969;
  height: 40pt;
  
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.Top-container a{
  color: white;
  padding-left: 10pt;
  padding-top: 10pt; 

}

.Top-sites{
  padding-top: 20pt;
  padding-left: 10pt;
  size: 20pt;
  
}

.Top-sites-text {
  color: #000;
  font-size: 14pt;
  font-style: bold;
}

.TitleBtn {
  fill: #ebebeb;
  stroke: #000;
  stroke-width: 3px;
}

.TitleContentBtn {
  fill: #ebebeb;
  stroke: #000;
  stroke-width: 3px;
}


