
.Nav {    
    position: fixed;
    z-index: 100;
    width: 100%;
  }
  .Photu{
   padding-top: 10px;
   padding-left: 10px;
  }

  .Top-container{
    background-color: #696969;
    height: 40pt;
    
    overflow: auto;
    display: flex;
    flex-direction: row
  }
  
  .Top-container a{
    color: white;
    padding-left: 10pt;
    padding-top: 10pt; 
  
  }

  .search-box{
    border: 1px solid black; 
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 10px;
    
    
    position: fixed;
    right: 10px;
  }

  .search-box:hover{
    box-shadow: 0 0 10px 2px black;
    border: 1px solid black ;
}
.search-input {
    width: 100px;
    border:none;
    font-size: 16px;
    outline: none;
    background:transparent;
    margin: 0px 0px 5px 10px;
    transition: width 0.5s;
    vertical-align: 0px;
}


.search-input[type="text" i] {
  padding: 1px 2px;
  padding-top: 1px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
}
.search-input:hover{
  width: 300px;
}

.search-button{
  background: transparent;
  position: relative;
  border: none;
  outline: none;
  padding-top: 5px;
}

.search-button-img{
  vertical-align:  5px;
}

  .allMight{
    z-index: 3;
    position: fixed;
  }